/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/target/classes/WEB-INF/web.xml
/target/classes/hws/Cat.class
/target/classes/hws/Main.class
/target/classes/hws/MyServlet.class
/target/classes/hws2/GreetingServlet.class
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/TEST-hws.AppTest.xml
/target/surefire-reports/hws.AppTest.txt
/target/test-classes/hws/AppTest.class
/.idea/.gitignore
